# <----------------------------------- Local Host ----------------------->

# CLIENT_URL = http://localhost:3000
# SERVER_URL = http://localhost:3001
# JWT_SECRET = SecretKey
# NODE_ENV = development

# <----------------------------------- Stage ---------------------------->

CLIENT_URL = https://fintrackerio-stage.vercel.app
SERVER_URL = https://fintrackerio-backend-stage.vercel.app
JWT_SECRET = SecretKey
NODE_ENV = stage

# <----------------------------------- Production ---------------------->

# CLIENT_URL = https://fintrackerio.vercel.app
# SERVER_URL = https://fintrackerio-backend.vercel.app
# JWT_SECRET = 4CTFJkXmWznGI6AL5ozEd2zvc5zVopIhyyeqJEqf69k
# NODE_ENV = production
