# <----------------------------------- Local Host ----------------------->

# CLIENT_URL = http://localhost:3000 (for developement only. Need original URL in production)
# SERVER_URL = http://localhost:3001 (for developement only. Need original URL in production)
# JWT_SECRET = SecretKey
# NODE_ENV = development ||or|| production