# <----------------------------------- Local Host ----------------------->

# CLIENT_URL = http://localhost:3000 (for developement only. Need original URL in production)
# SERVER_URL = http://localhost:3001 (for developement only. Need original URL in production)
# JWT_SECRET = SecretKey
# NEXT_PUBLIC_NODE_ENV = development ||or|| stage ||or|| production
# Note: NEXT_PUBLIC_NODE_ENV=stage enables demo login button on the login page